.gamesGroup{
  display: flex;
  justify-content: center;
  border: var(--debugBorderSize) solid var(--debugBorderClr);
}

.gamesHalfGroup{
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: auto;
  border: var(--debugBorderSize) solid var(--debugBorderClr);
}

.gamesGridGroup{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  justify-items: center;
  align-items: start;
  width: 100%;
  border: var(--debugBorderSize) solid var(--debugBorderClr);
}

.gamesGridWrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  border: var(--debugBorderSize) solid var(--debugBorderClr);
}

.gamesHalfGroupTitle{
  display: flex;
  justify-items: center;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
  border: var(--debugBorderSize) solid var(--debugBorderClr);
}

.lineVertical{
  width: 2px;
  border: none;
  background-color: white;
}

.lineVertical.gamesLineCenter{
  min-height: 100%;
  margin-left: 20px;
  margin-right: 20px;
}