.infoPageTitle{
  display: block;
  text-decoration: underline;
  margin-bottom: 40px;
}

.infoPageGroup{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  border: var(--debugBorderSize) solid var(--debugBorderClr);
  gap: 40px;
  margin-bottom: 80px;
}

.infoPageGroup.alternated{
  flex-direction: row-reverse;
}

.infoPageGroupImg{
  min-width: 300px;
  max-width: 300px;
  border: var(--debugBorderSize) solid var(--debugBorderClr);
}

.infoPageGroupText{
  width: 100%;
  border: var(--debugBorderSize) solid var(--debugBorderClr);
  margin: 0;
}