.textSiteTitle{
  font-size: 3rem;
  font-weight: normal;
}

.textHeader{
  font-size: 2rem;
  font-weight: normal;
}

.textNorm{
  font-size: 1.75rem;
  font-weight: normal;
}
.textNorm.IBM{
  font-size: 1.1rem;
  line-height: 1.6;
  font-family: IBMPlexMono, Arial, Helvetica, sans-serif;
}
.textLarge.IBM{
  font-size: 1.4rem;
  line-height: 1.6;
  font-family: IBMPlexMono, Arial, Helvetica, sans-serif;
}

.textSmall{
  font-size: 1.25rem;
  font-weight: normal;
}